.App {
    text-align: center;
}
body {
    background: #282c34;
    color: white;
}
:root {
    --form-font: 13pt;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

textarea {
    background: transparent;
    color: white;
    font-size: var(--form-font);
}

input {
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    font-size: var(--form-font);
}

input:focus{
    border: none;
}

input::placeholder {
    color: white;
    opacity: 1;
}

select {
    color: white;
    border-top: none;
    font-size: var(--form-font);
    border-left: none;
    border-right: none;
    background: transparent;
}

select:optional {
    color: white;
    background: #282c34;
    border-top: none;
    border-left: none;
    border-right: none;
}


@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
